/* copyright insane0hflex 2016 */
html {

}

body {
  font-family: Verdana, Arial, sans-serif;
  color: #111111;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

.clear {
    clear: both;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    margin: 20px 0;
}

hr {
    /* something */
}



.grid-col-12,
.grid-col-9,
.grid-col-6,
.grid-col-3 {
}

.grid-col-12 {
    
}




footer {
    margin-top: 30px;
    text-align:center;
    margin: 0 auto;
}

a {
    color: #1EAEDB;
    
}
a:hover {
    color: #0FA0CE;
    
}


/* Helper/Utility classes */
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.list-horizontal {
    display: inline;
}

.text-center {
    text-align:center;
}

.center {
    margin: 0 auto;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 20px 30px;
    color: black;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eeeeee;
    border: 1px solid #bbb;
    text-shadow: 2px 2px #eee;
    cursor: pointer;
    box-sizing: border-box;
}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}


.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}


.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}





