/* copyright insane0hflex 2016 */
html {

}

body {
  font-family: Verdana, Arial, sans-serif;
  color: #111111;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

.clear {
    clear: both;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.grid-col-12,
.grid-col-9,
.grid-col-6,
.grid-col-3 {
    padding: 0 20px;
}


footer {
    margin-top: 30px;
    text-align:center;
    margin: 0 auto;
}

a {
    color: #1EAEDB;
    
}
a:hover {
    color: #0FA0CE;
    
}



/* Helper/Utility classes */
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.list-horizontal {
    display: inline;
}





